{% extends 'main/index.html' %}
{% load static %}

{% block chat %}
<div class="correspondence__user h-100">
          <div class="correspondence__user-info">
            <p class="correspondence__user-name user-name">{{ second_user.first_name }} {{ second_user.last_name }}</p>
            <p class="correspondence__user-status">{% if second_user.is_active %} online {% else %} offline {% endif %}</p>
          </div>
          <img src="{% static 'images/phone.svg' %}" alt="btn for phone call" class="correspondence__phone-img">
          <img src="{% static 'images/camera.svg' %}" alt="btn for video call" class="correspondence__camera-img">
        </div>
        <div class="correspondence__message">
          {% if messages_by_day %}
            {% for messages in messages_by_day %}
            <div class="correspondence__message-box messages">
              <p class="messages__time">{{ messages.0.date_of_sending|date:'j.m'}}</p>
              {% for message in messages %}
                  {% if message.user.user_id == user.user_id %}
                      <p  ondblclick="makeReaction(this, {{message.message_id}},{{request.user.user_id}}, 'left')" class="messages__curent-user user-massage
                      {% if message.reaction_set.exists%} like-message like-left {% endif %}">
                          {{ message.text }}
                      </p>
                  {% else %}
                      <p ondblclick="makeReaction(this, {{message.message_id}},{{request.user.user_id}}, 'right')" class="messages__other-user user-massage
                       {% if message.reaction_set.exists%} like-message like-right {% endif %}">
                          {{ message.text }}
                      </p>
                  {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          {% else %}
            <p id="chat__nomessages">Поки що повідомлень немає</p>
          {% endif %}
          <div id="new__messages" class="correspondence__message-box messages">

          </div>
          <form class="correspondence__input-box h-100">
            <input autocomplete="off" id="chat__message" class="correspondence__input" type="text" name="message" placeholder="Напишіть повідомлення...">
            <button id="chat__sendbutton" class="correspondence__input-btn" type="submit">
              <img class="correspondence__input-img" src="{% static 'images/send.png' %}" alt="">
            </button>
          </form>
        </div>
{% endblock %}