<!DOCTYPE html>
<html lang="uk">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

  <!-- css style -->
  <link rel="stylesheet" href="{% static 'css/main_style.css' %}">

  <script src="{% static 'js/axios.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}" defer></script>

</head>

<body>
  <div class="settings-box">
    <form class="settings-form" action="{% url 'update' %}", method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="url" value="{{request.path}}">
      <label class="settings-lable" for="settings_photo" >
        <img class="setting-photo"
        {% if request.user.photo %}
           src="{% get_media_prefix %}{{request.user.photo}}"
        {% else %}
           src = "{% static 'images/user.png' %}"
        {% endif %}
     alt="photo-user">
      </label>
      <input id="settings_photo" autocomplete="off" name="photo" class="settings-input" type="file">
      <div class="settings-box__inner">
        <label class="settings-lable" for="settings_fname">Ім'я</label>
        <input id="settings_fname" name="first_name" class="settings-input" type="text" autocomplete="off" value="{{request.user.first_name}}">
      </div>
      <div class="settings-box__inner">
        <label class="settings-lable" for="settings_lname">Прізвище</label>
        <input id="settings_lname" name="last_name" class="settings-input" type="text" autocomplete="off" value="{{request.user.last_name}}">
      </div>
      <label class="settings-lable" for="settings_account_name">Нікнейм</label>
      <input id="settings_account_name" name="account_name" class="settings-input" autocomplete="off" type="text"
         {% if request.user.account_name %}
            value ="{{request.user.account_name}}"
         {% endif %}
      >
      <button class="settings-btn">Зберегти</button>
      <div id="close-form" class="close-form">
        <span></span>
      </div>
    </form>


    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <button class="settings-btn">Вийти</button>
    </form>
  </div>

  <main class="chats__wrapper" style="background-image: url({% static 'images/chat-bg.svg' %});">
    <div class="chats">

      <div class="chats__sidebar sidebar">
        <div class="sidebar__top current-user h-100">
          <img
            {% if request.user.photo %}
              src="{% get_media_prefix %}{{request.user.photo}}"
            {% else %}
              src = "{% static 'images/user.png' %}"
            {% endif %}
          alt="Current user photo" class="current-user__img">
          <p class="current-user__name user-name">{{ user.first_name}} {{ user.last_name}}</p>
          <img src="{% static 'images/search.svg' %}" alt="search icon" class="search">
          <img src="{% static 'images/setting.svg' %}" alt="setting icon" class="setting">
          {% csrf_token %}
          <div class="search-people">
            <input class="search-people__input" type="text" placeholder="Пошук..." readonly autocomplete="off">
              <div class="search-people__inner">
                <ul id="search-people-list" class="search-people__list">
                </ul>
              </div>
          </div>
        </div>

        <div class="sidebar__list list-chats">
          <ul id="chat__list" class="chats__list">
            {% for chat in chats %}
            <li class="chats__item">
              <a id="chat__{{ chat.chat_id }}" href="/{{chat.chat_id}}" class="chats__link">
                <img
                  {% if chat.user.photo %}
                    src="{% get_media_prefix %}{{chat.user.photo}}"
                  {% else %}
                    src = "{% static 'images/user.png' %}"
                  {% endif %}
                alt="user photo" class="chats__user-img">
                <div class="chats__text">
                  <p class="chats__user-name user-name">{{ chat.user.first_name }} {{ chat.user.last_name }}</p>
                  <p class="chats__user-message">{{ chat.last_message }}</p>
                </div>
                <div class="chats__notification notification-active">
                </div>
              </a>
            </li>
            {% empty %}
            <p>У вас,поки,немає чатів...</p>
            {% endfor %}
          </ul>
        </div>

      </div>

      <div id="main__chat" class="chats__correspondence correspondence">
        {% block chat %}Для початку - оберіть чат...{% endblock %}
      </div>

    </div>
  </main>

</body>

</html>