<!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div style="width: 800px;height: 800px;background-color: #292D2E; padding: 50px; font-family: 'Open Sans', sans-serif;">
    <div style="height: 100%; width: 100%;">
      <p style="width: 700px;height: 100px;background: #03D0CF;color: #FFF;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 100px;
            letter-spacing: 9.6px; color: #FFF; text-align: center;padding: 13px; margin: 0 auto;">Messanger 2V</p>
      <p style="width: 700px;padding: 20px; color: #FFF; font-family: 'Roboto';
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 24px auto 33px;">
        Вітаємо!<br>
        Ваш код, для входу в аккаунт меседжера:
      </p>
      <p style="width: 500px;height: 75px;background: #03D0CF;color: #FFF; margin: 0 auto;text-align: center; font-family: Roboto;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 75px;
            letter-spacing: 9.6px;padding: 13px;">
        {{code}}
      </p>
      <p style="width: 700px;padding: 20px; color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 24px auto 33px;">
        Будь лакска, не повідомляйте цей код третім особам. <br>Якщо ви не робили запит на код,то просто проігноруйте
        цей лист!
        <br><br>
        Дякуємо,з повагою
        <!-- <br> -->
        команда розробників месенджера.
      </p>

      <p style="width: 700px;height: 100px;background: #03D0CF;color: #FFF; margin: 0 auto;text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 3.6px; padding: 13px;display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;">
        ©2023 2V Messanger, All Right Reserved
      </p>
    </div>
  </div>
</body>

</html>