{% extends 'auth/auth_base.html' %}
{% load static %}

{% block body %}
  <div class="login" style="background-image: url({% static 'images/login-bg.svg' %});">
    <div class="container">

      <div class="login__inner">

        <div class="login__box">

          <img src="{% static 'images/login-img.png' %}" alt="decor img" class="form__box-img">

        </div>
        
        <!-- form login -->
        <form class="login__box form-login form">
          {% csrf_token %}
          <h2 class="form__title form-login__title">УВІЙДІТЬ АБО ЗАРЕЄСТРУЙТЕСЬ</h2>
          <!-- class form-input for style, class form-login__input for back and semantic -->
          <input id="login__email" class="form-input form-login__input" type="email" name="mail" placeholder="Email" onchange="checkError(this)">
          <!-- class form__error for semantic and back, class red-error for style -->
          <span class="error-wrapper login__error-wrapper">
            <p id="for-login__email" class="form-login__error red-error form-error">Невірний формат email!</p>
            <p id="for-ru__email" class="form-login__error red-error form-error">Ворогам вхід заборонений!</p>
          </span>
          <a href="#" class="form-logim__info">Дізнатися більше про нас</a>
          <!-- class form__brn for semantic and back, class btn-submit for style -->
          <button id="login__btn" class="form__btn btn-submit">Увійти</button>
        </form>

      </div>

    </div>
  </div>
{% endblock %}